# Ignore Gradle project-specific cache directory
.gradle
.DS_Store
.idea

# Ignore Gradle build output directory
build

/bin/
*.class
*.jar
*.war
*.ear
hs_error_pid*
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.mod
*.lai
*.la
*.a
*.dll
*.lib
*.exe
*.app
=======
/bin/
node_modules
